<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #000; /* Cor de fundo preta */
            color: #fff; /* Cor do texto */
        }
        h1 {
            color: #e50914; /* Vermelho Netflix para o título */
        }
        p {
            color: #fff; /* Cor do texto */
        }
    </style>
</head>
<body>
    <h1>Erro</h1>
    <p>Infelizmente não temos esse manga na base de dados ainda, mas em breve ele estará aqui.</p>
</body>
</html>
